/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General tag */

body{
    min-width: 480px;
    font-family: 'PT Sans', sans-serif;
}

footer{
    margin-top: 3rem;
}

h1{
    padding: 1.5rem 0;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: inherit;
}
    
/* General class */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.header-background{
    background-color: #0084fd;
    margin-bottom: 1.5rem;
}

.lilla-background{
   background-color:#9792e4 ;
}

.black-background{
    background-color: black ;
 }

.container{
    width: 85%;
    margin: 0 auto;
    gap: 1.5rem;
}

.logo{
    width: 45%;
    padding: 1rem;
}

.card-left{
    width: 100%;
    margin-bottom: 2rem;
}

.card-left-content{
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
}

.card-right{
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
}

.card-background{
    background-color: #b5ddff;
    border-radius: 1rem;
}

.button-skyblue{
    background-color: #0084fd;
    border-radius: 2rem;
    border: none;
    padding: 0.9rem 4.5rem;
    color: white;
}

.text-white{
    color: white;
}

.text-lilla{
    color: #9792e4;
}

.central-panel-right{
    border-radius: 4.5rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem 0;
}

.title-testimonial{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.testimonial-card{
    background-color: #9792e4;
    border-radius: 3rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin: 2rem 0;
}

.testimonial-card-content{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.title-col{
    justify-content: center;
    align-self: center;
    width: 100%;
}

.col{
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin: 1rem 0;
}

.quotation-marks{
    color: #9792e4;
    font-size: 20rem;
    position: absolute;
    left: 154px;
    top: -66px;
}

.quotation-marks-medium{
    font-size: 3rem;
    text-align: center;
}

.button-lilla{
    background-color: #9792e4;
    border: none;
    padding: 0.6rem 3rem;
    border-radius: 2rem;
    color: white;
}

.about-us-right{
    position: relative;
}

.banner{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
}

.button-white{
    background-color: white;
    border: none;
    padding: 0.6rem 3rem;
    border-radius: 2rem;
    color: #9792e4;
}
    

/* more specific selector */

nav.container{
    justify-content: space-between;
}

div.logo.flex{
    justify-content: end;
}

div.logo i{
    align-self: center;
}

div.logo ul{
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}

div.logo ul.flex li{
    padding: 0 1.5rem;
}

div.card-left h1,
div.card-right h1{
    color: #0084fd;
}

div.card-left p,
div.card-right p
{
    color: #5a6e7f;
    font-size: 1.3rem;
    line-height: 2rem;
    padding-left: 1.5rem;
}

div.card-left img{
    width: 100%;
}

div.central-panel-left img,
div.central-panel-right img
{
    width: 100%;
}

div.central-panel-left p{
    line-height: 1.5rem;
}

div.central-panel-left h1,
div.about-us-left h1,
div.about-us-right h1
{
    font-size: 2rem;
}

div.central-panel-right p{
    line-height: 2rem;
    font-size: 1.2rem;
}

div.central-panel-right i{
    background-color: #9792e4;
    padding: 1.2rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.title-testimonial h2{
    margin-top: 3rem;
}

.title-testimonial h1{
    font-size: 3rem;
    color: #9792e4;
    text-align: center;
}

.title-testimonial p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.3rem;
}
.testimonial-card img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.testimonial-card p{
    line-height: 2.5rem;
    font-size: 2rem;
    padding: 0 2rem;
}

div.title-col h1{
    font-size: 3rem;
    padding: 1rem 2rem;
    text-align: center;
}

div.col h1{
    font-size: 2.5rem;
}

div.col h2{
    font-size: 1.7rem;
}

div.col p{
    line-height: 1.8rem;
}

div.col h2,
div.col p,
div.col button{
    margin: 1rem 0;
}

.about-us-left,
.about-us-right
{
    padding: 1rem 1.5rem;
}

div.about-us-left p{
    padding: 1.4rem 0;
    line-height: 2rem;
}

div.about-us-right img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

div.banner h1{
    font-size: 4rem;
    color: yellow;
}
/* Responsive mobile first */

/* Tablet */
@media screen and (min-width:768px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .card-left{
        width: calc((100%/3)*2);
    }
    .card-right{
        width: calc(100%/3 - 1.5rem);
    }
    div.card-left img{
        width: 70%;
    }
    div.testimonial-card{
        flex-direction: row;
    }
    .testimonial-card-content{
        flex-direction: column;
        gap: 1rem;
        align-items: start;
        justify-content: start;
        padding: 2rem 0;
    }
    .testimonial-card-content h1,
    .testimonial-card-content img{
        margin-left: 2rem;
    }
    div.col{
        width: calc((100%/2) - 1.5rem);
    }
    .about-us{
        display: flex;
    }
    div.about-us-left,
    div.about-us-right
    {
        width: calc((100%/2) - 1.5rem);
    }
    
}

/* Desktop */
@media screen and (min-width:1140px){
    
    div.logo ul{
      z-index: 1;
    }

    div.logo i{
        display: none;
    }

    .card-left-content{
        width: 50%;
    }
    .card-img{
        width: 50%;
        display: flex;
        align-items: end;
    }
    div.card-left img{
        width: 100%;
    }
    div.central-panel-left,
    div.central-panel-right
    {
        width: calc(100%/2 - 1.5rem);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    div.col{
        width: calc((100%/3) - 1.5rem);
    }
}
