/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.header-background{
    background-color: #0084fd;
    margin-bottom: 1.5rem;
}

.container{
    width: 85%;
    margin: 0 auto;
    gap: 1.5rem;
}

.logo{
    width: 40%;
    padding: 1rem;
}

.card-left{
    width: 100%;
    margin-bottom: 2rem;
}

.card-left-content{
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
}

.card-right{
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
}

.card-background{
    background-color: #b5ddff;
    border-radius: 1rem;
}

.button-skyblue{
    background-color: #0084fd;
    border-radius: 2rem;
    border: none;
    padding: 0.9rem 4.5rem;
    color: white;
}

nav.container{
    justify-content: space-between;
}

div.logo.flex{
    justify-content: end;
}

div.logo i{
    align-self: center;
}

div.card-left h1,
div.card-right h1{
    color: #0084fd;
    padding:1rem 0;
    font-size: 1.5rem;
}

div.card-left p,
div.card-right p
{
    color: #5a6e7f;
    font-size: 1.3rem;
    line-height: 2rem;
    padding-left: 1.5rem;
}

div.card-left img{
    width: 100%;
}

@media screen and (min-width:768px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .card-left{
        width: calc((100%/3)*2);
    }
    .card-right{
        width: calc(100%/3 - 1.5rem);
    }
    div.card-left img{
        width: 70%;
    }
}

@media screen and (min-width:1140px){
    .card-left-content{
        width: 50%;
    }
    .card-img{
        width: 50%;
        display: flex;
        align-items: end;
    }
    div.card-left img{
        width: 100%;
    }
}