/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.header-background{
    background-color: #0084fd;
    margin-bottom: 1.5rem;
}

.container{
    width: 100%;
}

.logo{
    width: 40%;
    padding: 1rem;
}

.card-left{
    width: 100%;
}

.card-right{
    width: 100%;
}

.card-background{
    background-color: #b5ddff;
}

nav.container{
    justify-content: space-between;
}

div.logo.flex{
    justify-content: end;
}

div.logo i{
    align-self: center;
}